p.faq-word {
    margin-top: 3em;
    text-align: center;
    font-size: 48px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-weight: 600;
}
div.comment-box {
    background-color: #fedcdb;
    height: 22em;
}
div.review-box {
    height: 22em;
}
div.question {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #4c454c;
    text-transform: capitalize;
}
div.answer {
    text-transform: capitalize;
    margin-top: 1.2em;
    margin-left: 4em;
    margin-right: 4em;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 200;
    color: rgb(0, 0, 0);
}
a.carousel-control-prev {
    margin-left: 0;
}
div.carousel-indicators {
    visibility: hidden;
}
/* mobile Screens */
@media screen and (max-width: 550px) {
    p.faq-word {
        margin-top: 2em;
    }
    div.comment-box {
        height: 16em;
    }
    div.review-box {
        height: 16em;
    }
    div.question {
        font-size: 17px;
        margin-top: 2.5em;
    }
    div.answer {
        font-size: 13px;
    }
}
