p.faq-word {
    margin-top: 3em;
    text-align: center;
    font-size: 48px;
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    font-weight: 600;
}
div.comment-box {
    background-color: #fedcdb;
    height: 22em;
}
div.review-box {
    height: 22em;
}
div.comment {
    margin-top: 4em;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
    font-size: 28px;
    font-family: "Bitter", serif;
    color: #4c454c;
    text-transform: capitalize;
}
div.name {
    text-transform: capitalize;
    margin-top: 1.2em;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: "Prompt", sans-serif;
    color: rgb(151, 149, 149);
}
a.carousel-control-prev {
    margin-left: 0;
}
div.carousel-indicators {
    visibility: hidden;
}
/* mobile Screens */
@media screen and (max-width: 550px) {
    p.faq-word {
        margin-top: 2em;
    }
    div.comment-box {
        height: 16em;
    }
    div.review-box {
        height: 16em;
    }
    div.comment {
        font-size: 17px;
        margin-top: 5em;
    }
    div.name {
        font-size: 13px;
    }
}
