* {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}
body > #root > div {
    height: 100vh;
}
.App {
    background-color: #e1cad0;
}

.logo {
    padding-top: 10%;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.title {
    margin-top: -10px;
    text-align: center;
    font-family: "Cormorant", serif;
}
h1 {
    font-weight: 600;
    font-size: 50px;
}
h3 {
    font-size: 20px;
}
.contact {
    margin-top: 50px;
    max-width: 90%;
    margin-left: 5%;
    display: flex;
}
i {
    position: relative;
    border: 0;
    margin: 0;
    font-size: 25px;
    float: right;
    margin-top: 15px;
    padding-left: 30px;
}
.details {
    margin-top: 15px;
    text-align: left;
    font-size: 20px;
    padding-right: 10px;
}
.details:active {
    transform: scale(0.98);
    color: #4285f4;
}
a {
    text-decoration: none;
    color: black;
}
.email,
.insta {
    padding-top: 2px;
}
.insta {
    padding-top: 3px;
}
.phone {
    font-size: 18px;
    font-weight: 500;
}
