/* ============================= */
/* NAVIGATION BAR */
/* ============================= */
img.brandName {
    width: 100px;
    height: auto;
    margin-top: -20px;
    margin-left: 15px;
    margin-bottom: -20px;
    background: none;
}
p.contactme {
    margin-bottom: 0;
    margin-right: -10px;
    padding: 3px 9px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
}
p.contactme:hover {
    background-color: white;
    color: black;
    border-color: black;
}
.menubar {
    font-size: 22px;
    color: white;
}
.menubar:hover {
    transform: scale(1.2);
    color: black;
}
/* ============================= */
/* ImageSlider */
/* ============================= */
.box-carousel {
    width: 90%;
    margin-left: 5%;
}
/* ============================= */
/* INTRO */
/* ============================= */

div.intro {
    display: grid;
}
img.selfi {
    height: 480px;
    width: 320px;
}
div.image-box {
    margin: 0 auto;
}

p.intro-heading {
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;
}
@media screen and (min-width: 767px) {
    div.intro {
        display: flex;
    }
    img.selfi {
        height: 480px;
        width: 320px;
        margin: 30px;
    }
    p.intro-heading {
        font-family: "Times New Roman", Times, serif;
        font-size: 48px;
        line-height: 55px;
    }
}
/* ============================= */
